<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Votação</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="cpf">Cpf</label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          placeholder="CPF"
          [(ngModel)]="cpf"
          name="cpf"
        />
      </div>
      <div class="form-group">
        <label for="sel1">Opção do Voto</label>
        <select class="form-control" name="voto" id="voto" [(ngModel)]="voto">
          <option value="SIM">SIM</option>
          <option value="NAO">NÂO</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Votar
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Votar
</button>
