<br />
<div class="row">
  <div class="col-md-4 offset-md-11">
    <app-modal> </app-modal>
  </div>
</div>
<br />
<table datatable class="table row-border hover" *ngIf="this.temp_var">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titulo</th>
      <th>Inicio da Sessão</th>
      <th>Termino da Sessão</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ret of this.data">
      <td>{{ ret.id }}</td>
      <td>{{ ret.title }}</td>
      <td>{{ ret.dtStarted | date: 'dd/MM/yyyy h:mm:ss' }}</td>
      <td>{{ ret.dtFinish | date: 'dd/MM/yyyy  h:mm:ss' }}</td>
      <td>
        <span *ngIf="!ret.dtFinish && ret.time">
          <app-vote-modal [schedule]="ret.id"> </app-vote-modal>
        </span>
        &nbsp; &nbsp;
        <span *ngIf="!ret.dtStarted">
          <app-session-modal [schedule]="ret.id"> </app-session-modal>
        </span>
      </td>
    </tr>
  </tbody>
</table>
