<div id="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
      SISTEMA DE ASSOCIADOS
    </div>
  </div>
  <!-- /. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="index.html"><i class="fa fa-desktop "></i>Home</a>
        </li>
      </ul>
    </div>
  </nav>

  <app-schedule-list></app-schedule-list>
</div>
<div class="footer">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div>

<router-outlet></router-outlet>
